body {
    margin: 0;
    padding: 0;
  }
  
.second-col{
    width: 100%;
    height: 500px;
    padding-top: 1%;
    background-color: rgb(233, 236, 236);
}

#companyName{
    font-family: 'Lilita One', cursive;
}

#cool{
    background-color: aliceblue;
}
body{
    background-color: rgb(15, 14, 14);
}

.cAlign{
    text-align: center;
}

.XD{
    margin-bottom: 50px;
}

/* Text Hover */
.txt:hover {
    border-bottom: 2px solid rgb(197, 197, 197);
}

/* Navigation Part */

.navClass{
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    background-color: aqua;
    display: flex;
}

.navBox{
    /* TRBL or Vert & Sides */
    padding: 5% 50px;
    background-color: rgb(255, 255, 255);
}
.navBox:hover{
    background-color: rgb(140, 140, 141);
    transition-delay: 100ms;
    cursor:pointer;
}