body {
    margin: 0;
    padding: 0;
    background-color: maroon;
    color: white;
    font-family: Arial, sans-serif;
}

#logo {
    display: block;
    margin: 50px auto 20px;
    width: 150px;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button:hover {
    background-color: lightcoral;
}

footer {
    background-color: maroon;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

p+p {
    margin-top: 20px;
    border-top: 1px solid white;
    padding-top: 50px;
}


.button-container {
    flex-direction: column;
    align-items: center;
}

.button {
    margin: 0;
    border-radius: 0;
    padding: 12px 0;
    width: 100%;
    background-color: white;
    color: maroon;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
}

.button:not(:last-child) {
    margin-right: 0;
    border-right: none;
    border-bottom: 1px solid white;
    /* add border between buttons */
}

.button:first-child {
    margin-top: 10px;
}